Keras==2.4.3
mediapipe==0.8.3.1
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.2.4
pyvirtualcam==0.7.0
six==1.15.0
tensorflow==2.4.1

# PyAudio @ file:///C:/Users/simon/pipwin/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
# For pyaudio on windows:
# pip install winpip
# winpip install pyaudio
#
# You can also do it with pip but then you have to enter a world of pain and build the binaries yourself. Winpip uses pre-built binaries.

PyAudio~=0.2.11
websockets~=9.0.2
asyncio~=3.4.3